.work {
  section:first-of-type {
    height: calc(100vh - 81px);
    min-height: 600px;
    max-height: 800px;

    @media screen and (max-width: 750px) {
      height: auto;
      min-height: auto;
      max-height: 600px;
      margin: 100px 0px;
    }

  }

  section {
    @media screen and (max-width: 750px) {
      height: auto;
      min-height: auto;
      max-height: 600px;
      margin: 100px 0px;
    }
  }

  .ft-text {
    margin-top: 20px;

    h1 {
      font-size: 50px;
      line-height: 80px;
      font-weight: 600;
      font-style: normal;
    }

    .outlined-text {
      color: var(--background-color);
      text-shadow: -1px -1px 0 var(--primary-text-color),
        1px -1px 0 var(--primary-text-color),
        -1px 1px 0 var(--primary-text-color),
        1px 1px 0 var(--primary-text-color);
    }
  }

  .work-container {
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 750px) {
      justify-content: start;
      flex-direction: column-reverse;
    }
  }

  .work-content {
    margin: auto 0px auto 0px;
    width: 30%;
    @media screen and (max-width: 750px) {
      width: 100%;
      margin: 0px;
    }
  }

  .work-hero {
    margin: auto 0px auto 0px;
    width: 70%;

    @media screen and (max-width: 750px) {
      margin: 0px;
    }

    div {
      text-align: center;
      display: block;
      @media screen and (max-width: 750px) {
        text-align: left;
      }

      img,video {
        @media screen and (max-width: 750px) {
          width: 100%;
        }
      }

      video {
        box-shadow: var(--shadow);
      }
    }
  }

  .work-title {
    h1 {
      font-size: 36px;
      line-height: 44px;
      font-weight: 800;
      margin-bottom: 1rem;
    }
  }

  .work-para {
    p {
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    a {
      font-weight: 600;
    }
  }

  .work-btn {
    a {
      color: var(--background-color);
      background-color: var(--terinary-text-color);
      border-radius: 2px;
      font-weight: 800;
      padding: 10px 20px;
    }
  }
}
