:root[data-theme="theme-light"]{
    --font-family : "Karla";
    --primary-text-color:#191545;
    --secondary-text-color:#4433ff;
    --terinary-text-color: #191545;
    --background-color: #ffffff;
    --red-color: #f3317a;
}

:root[data-theme="theme-dark"]{
    --font-family : "Karla";
    --primary-text-color: #ffffff;
    --secondary-text-color:#796dfc;
    --terinary-text-color: #c4c1df;
    --background-color: #12181b;
    --red-color: #f3317a;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    height: 100px;
    font-family: var(--font-family);
    color: var(--primary-text-color);
    transition: all 0.9s;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0px;
    color: var(--terinary-text-color);
}

p{
    margin: 0px;
    color: var(--primary-text-color);
}

a{
    text-decoration: none;
    color: var(--secondary-text-color);
    margin: 0px;
    cursor: pointer;
}

.container{
    width: 1200px;
    margin: 0px auto;

    @media screen and (max-width:1220px) {
        width: 1000px;
    }

    @media screen and (max-width:1020px) {
        width: 90%;
    }
}

.flex{
    display: flex;
}